<div class="flex items-center gap-3">
  @if (label && labelPosition === 'before') {
    <label [for]="uniqueId" class="text-[#141414] text-base font-normal leading-normal cursor-pointer select-none">{{ label }}</label>
  }
  <label [for]="uniqueId" [ngClass]="switchContainerClasses">
    <input
      type="checkbox"
      [id]="uniqueId"
      [formControl]="internalControl"
      (change)="onToggleChange($event)"
      (blur)="handleBlur()"
      class="sr-only peer" />
    <div
      [ngClass]="[
        switchBackgroundBase,
        internalControl.value ? switchBackgroundChecked : switchBackgroundUnchecked
      ]"
      class="flex items-center peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-offset-1 peer-focus:ring-neutral-500"
      role="presentation"
    >
      <div
        [ngClass]="[
          switchKnobBase,
          internalControl.value ? switchKnobChecked : switchKnobUnchecked
        ]"
        style="box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px, rgba(0, 0, 0, 0.06) 0px 3px 1px;"
      ></div>
    </div>
  </label>
  @if (label && labelPosition === 'after') {
    <label [for]="uniqueId" class="text-[#141414] text-base font-normal leading-normal cursor-pointer select-none">{{ label }}</label>
  }
</div>
@if (internalControl.invalid && (internalControl.dirty || internalControl.touched)) {
  <div class="text-red-500 text-xs mt-1">
    @if (internalControl.errors?.['required']) { <small>{{ label || 'This switch' }} requires a specific state.</small> }
    </div>
}