<mat-list-item
  (click)="onItemClicked()"
  [class.custom-list-item-clickable]="isClickable"
  class="custom-list-item h-auto py-2">
  @if (iconName) {
    <mat-icon matListItemIcon>{{ iconName }}</mat-icon>
  }
  <div matListItemTitle class="list-item-title">{{ title }}</div>
  @if (subtitle) {
    <div matListItemLine class="list-item-subtitle">{{ subtitle }}</div>
  }

  <!-- Meta section for trailing icons -->
  <div matListItemMeta class="list-item-meta">
    @if (showDeleteButton) {
      <button matIconButton  (click)="onDeleteClicked($event)" aria-label="Delete item">
        <mat-icon>{{ deleteIconName }}</mat-icon>
      </button>
    }

  </div>
</mat-list-item>
@if (showDivider) {
  <mat-divider></mat-divider>
}