<div class="confirmation-dialog-container">
  <h1 matDialogTitle class="dialog-title">{{ data.title }}</h1>
  <div matDialogContent class="dialog-content">
    <p>{{ data.message }}</p>
  </div>
  <div matDialogActions class="dialog-actions">
    <button matButton="tonal" (click)="onDismiss()" class="action-button cancel-button">{{ data.cancelButtonText }}</button>
    <button matButton="filled" (click)="onConfirm()" cdkFocusInitial class="action-button confirm-button">{{ data.confirmButtonText }}</button>
  </div>
</div>