<div class="login-page-container">
  <div class="login-content-wrapper">
    <h2 class="page-title">
      Bienvenido de nuevo
    </h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter your email" required>
        @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
          <mat-error>El correo electrónico es obligatorio.</mat-error>
        }
        @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
          <mat-error>Por favor, introduce una dirección de correo electrónico válida.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter your password" required>
        @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
          <mat-error>La contraseña es obligatoria.</mat-error>
        }
        @if (loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched) {
          <mat-error>La contraseña debe tener al menos 6 caracteres.</mat-error>
        }
      </mat-form-field>

      @if (loginError()) {
        <p class="form-error-message">{{ loginError() }}</p>
      }

      <button matButton="filled" color="primary" type="submit" class="action-button login-button full-width" [disabled]="loginForm.invalid">
        Iniciar sesión
      </button>
    </form>

    <p class="separator-text">
      O continuar con
    </p>

    <div class="social-buttons-group">
      <button mat-flat-button class="action-button social-button google-signin-button full-width" (click)="onSocialLogin('Google')">
        <mat-icon svgIcon="google-brand-logo" class="social-icon"></mat-icon>
        <span>Continuar con Google</span>
      </button>
      <button mat-flat-button class="action-button social-button facebook-signin-button full-width" (click)="onSocialLogin('Facebook')">
        <mat-icon svgIcon="facebook-brand-logo" class="social-icon"></mat-icon>
        <span>Continuar con Facebook</span>
      </button>
    </div>

    <p class="footer-text">
      ¿No tienes una cuenta?
      <a routerLink="/auth/sign-in" class="footer-link">
        Regístrate
      </a>
    </p>
  </div>
</div>