<mat-toolbar class="page-header-toolbar dark:!bg-neutral-800"> @if (showBackButton) {
    <button mat-icon-button (click)="onBackClicked()" [attr.aria-label]="backButtonAriaLabel" class="page-header-back-button">
      <mat-icon>{{ backButtonIconName }}</mat-icon>
    </button>
  } @else {
    <div class="w-10 sm:w-12"></div> }

  <span class="flex-auto text-center page-header-title">{{ title }}</span>

  @if (showActionsSlot) {
    <div class="page-header-actions">
      <ng-content select="[page-header-actions]"></ng-content>
    </div>
  } @else {
    <div class="w-10 sm:w-12"></div> }
</mat-toolbar>