<div class="file-prompt-container" role="button" tabindex="0" (keydown.enter)="triggerFileInput(fileInputRef)"
  (keydown.space)="triggerFileInput(fileInputRef)">
  <div class="text-wrapper">
    @if (title) {
    <p class="title">{{ title }}</p>
    }
    @if (subtitle) {
    <p class="subtitle">{{ subtitle }}</p>
    }
  </div>

  @if (filePreviews().length > 0) {
  <div class="previews-container">
    @for (preview of filePreviews(); track $index) {
    <img [src]="preview" alt="Selected file preview {{$index + 1}}" class="preview-image">
    }
    @if (selectedFileCount() > filePreviews().length && selectedFileCount() > maxPreviews) {
    <div class="preview-more-indicator">
      +{{ selectedFileCount() - filePreviews().length }} más
    </div>
    }
  </div>
  }
  @if (selectedFileCount() > 1) {
  <p class="file-count-text">{{ selectedFileCount() }} archivos(s) seleccionados</p>
  }

  @if (selectedFileCount() == 1) {
  <p class="file-count-text">{{ selectedFileCount() }} archivo seleccionado</p>
  }



  <button matButton="outlined" type="button" class="choose-photos-button"
    (click)="$event.stopPropagation(); onPromptButtonClicked(fileInputRef)">
    @if(buttonIcon) {
    <mat-icon>{{ buttonIcon }}</mat-icon>
    }
    <span>{{ buttonText }}</span>
  </button>

  <button matButton="outlined" type="button" class="choose-photos-button"
    (click)="$event.stopPropagation(); onPromptButtonClicked(fileInputCamera)">
    @if(buttonIcon) {
    <mat-icon>{{ buttonIconCamera }}</mat-icon>
    }
    <span>{{ buttonTextCamera }}</span>
  </button>


  <!-- Hidden file input -->
  <input type="file"
    class="hidden-file-input"
    #fileInputRef 
    [accept]="accept" 
    [multiple]="multiple"
    (change)="onFileChanged($event)" />

  <input #fileInputCamera 
    class="hidden-file-input" 
    name="cameraFile" 
    type="file" 
    [multiple]="multiple"
    (change)="onFileChanged($event)"
    capture="environment"
    accept="image/*" />

</div>